/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
        @-webkit-keyframes buruburu {
                50% {-webkit-transform: translate(1px, 0px);}
            }
h1 {
	margin: 50px auto 30px;
	width: 400px;
	color: #fff;
                -webkit-animation-name: buruburu;
                -webkit-animation-duration: 0.1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-transition-timing-function: ease-in;
}
h1 a:link {
  color: #fff;
}

.wrapper {
	width: 400px;
	margin: 20px auto 50px;
  a:link {
    color: #ff69b4;
  }
}

