// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 0;
	padding: 0;
	background-image: image-url('sushi.jpg');
	background-size: 110%;
	color: #fff;
}       

        @-webkit-keyframes shake {
                50% {-webkit-transform: translate(1px, 0px);}
            }
h1 {
	margin: 50px auto 30px;
	width: 400px;
	color: #fff;
                -webkit-animation-name: shake;
                -webkit-animation-duration: 0.1s;
                -webkit-animation-iteration-count: infinite;
                -webkit-transition-timing-function: ease-in;
}
h1 a {
  color: #fff;
  background-color: #fff;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
.wrapper {
	width: 400px;
	margin: 20px auto 50px;
  a:link {
    color: #ff69b4;
  }
}

.box {
	margin: 0 auto;
	color: #000;
	padding: 20px;
	width: 100%;
	border-radius: 0px;
	background: image-url('paaa.gif') repeat transparent;
	p, dt {
		background:  image-url('paaa.gif') repeat transparent;
	}
}

input,textarea {
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 6px;
	background: #ff69b4;
	color: #fff;
}
.btn {
	border: solid 1px #fff;
	border-radius: 6px;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	&:hover {
		border: #fff solid 1px;
		background-color: #000;
		color: #fff;
	}
}
.fofo {
	margin: 0 auto 50px;
	padding: 30px;
}

#notice {
	color: #ff69b4;
	font-size: 0px;
}
:-moz-placeholder {
	color: #FBBAD8;
}
:-webkit-input-placeholder {
	color: #FBBAD8;
}
.entry {
	margin-top: 10px;
}